@import "./abstracts/variables";
@import "./abstracts/mixins";

@media screen and (min-width:370px) {
    .header{
        height: 60px;
    }
    .additional__rubin{
        width: 111px;
        height: 107px;
    }
    .features{
        .feat{
            &__icon{
                height: 20px;
                width: 20px;
            }
            &__text{
                @include fontBold($fz: 1.3rem)
            }
            &__circleWrap{
                width: 35px;
                height: 35px;
            }
        }
    }
    .agreement{
        .label{
            @include fontRegular(1.1rem);
        }
    }
}

@media screen and (min-width:500px) {
    .header{
        height: 60px;
    }
    .credits__h2{
        margin-top: 20px;
        margin-left: 20px;
    }
    .slider{
        &__card{
            padding: 25px 33px;
            margin-left: 10px;
        }
        &__phrase{
            padding: 8px 12px;
            margin-left: 0px;
        }
    }
    .buyButton{
        width:80%;
        margin-left: 10%;
        padding: 17px 0 20px 0;
        @include fontBold( $mob-button-font-size );
        background-color: $second-main-color;
        border-radius: 10px;
    }
    .credits__agreement{
        margin-top: 25px;
    }
    .agreement{
        width: 80%;
        margin-left: 10%;
    }
    .features{
        width: 80%;
        margin-left: 10%;
    }
}