.burger{
    height: 14px;
    width: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;

    &__rectangle{
        height: 2px;
        background-color: #fff;
        opacity: 1;
        transition-property: all;
        transition-duration: 0.5s;
    }

    &_active{
        position: relative;

        .burger__rectangle{
            position: absolute;
            top: 6px;
            left: 0;
            width: 23px;
            background-color: $first-main-color;
            transition-property: all;
            transition-duration: 0.5s;
        }
        .burger__rectangle:nth-child(1) {
            transform: rotate(45deg);
        }
        .burger__rectangle:nth-child(2) {
            opacity: 0;
        }
        .burger__rectangle:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}