.credits{
    padding: 0 20px;
}
.credits__h2{
    margin-top: 15px;
}
.credits__separator{
    margin-top: 10px;
}
.credits__sliderContainer{
    margin-top: 23px;
}
.credits__buyButton{
    margin-top: 34px;
}
.credits__agreement{
    margin-top: 15px;
}
.credits__additional{
    margin-top: 32px;
}
.credits__offer{
    display: none;
}
.credits__goods{
    display: none;
}