.features{
    display: grid;
    row-gap: 10px;

    .feat{
        &__link{
            display: flex;
            align-items: center;
            min-height: 30px;
        }
        &__link_desktop{
            display: none;
        }
        &__text{
            margin-left: 16px;
            @include fontBold($fz: 1.2rem)
        }
        &__circleWrap{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $first-background-color;
        }
    }
}