//color
$first-main-color: #9564AA;
$second-main-color: #FFCF2D;
$dark-main-color: #684677;
$offer-color: #C15CA1;
$first-background-color: rgba(149, 100, 170, 0.1);
$first-border-color: rgba(149, 100, 170, 0.2);
$second-background-color: rgba(170, 100, 100, 0.2);
$second-border-color: rgba(170, 100, 100, 1);

//font-size
$base-font-size: 10px;

$mob-main-font-size: 1.4rem;
$mob-h2-font-size: 2rem;
$mob-button-font-size: 1.6rem;
$mob-agreement-font-size: 1rem;
$mob-feature-font-size: 1.2rem; 

$desk-font-size: 1.6rem;
$desk-h2-font-size: 4rem;
$desk-button-font-size: 1.6rem;
$desk-agreement-font-size: 1.3rem;
$desk-feature-font-size: 1.2rem; 
$desk-price-color: 2.4rem;